<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Judy's Chat App</title>
  </head>

  <body>
    <header>
      <h1>Judy's Chat App!</h1>
    </header>

    <section>
      <div class="input-group mb-3" id="change_username">
        <input id="username" type="text" class="form-control" placeholder="Your username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn btn-info" id="send_username" type="button">Set Username</button>
        </div>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>



    <section id="input_zone">
      <div class="input-group mb-3" style="height:50px;">
        <input id="message" type="text" class="form-control" placeholder="Type message here.." aria-label="Type message here.." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn btn-success" id="send_message" type="button">Send Message</button>
        </div>
      </div>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
